global:
  scrape_interval: 15s

scrape_configs:
  - job_name: "prometheus"
    static_configs:
      - targets:
          - "prometheus:9090"

  - job_name: "node_exporter"
    dns_sd_configs:
      - names:
          - "tasks.node-exporter"
        type: A
        port: 9100
