name: Deploy Cattr Service

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Pull latest images
        run: docker compose pull

      - name: Restart services
        run: docker compose up -d
