name: Deploy Gitea on Docker Swarm

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Verify files
        run: |
          pwd
          ls -la

      - name: Deploy Gitea
        run: |
          docker swarm init || true
          docker stack deploy -c gitea-stack.yaml gitea

      - name: Verify services
        run: docker service ls
