name: Deploy Grafana & Prometheus (Docker Swarm)

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v4
      - run: docker swarm init || true
      - run: docker stack deploy -c grafana-stack.yaml monitoring
      - run: docker service ls
