name: Deploy Grafana & Prometheus (Docker Swarm)

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Initialize Docker Swarm
        run: docker swarm init || true

      - name: Deploy monitoring stack
        run: docker stack deploy -c grafana-stack.yaml monitoring

      - name: Verify services
        run: docker service ls
